@page "/counter"
@attribute [Authorize]
@inject NavigationManager Navigation

@using Microsoft.Extensions.Options
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user?.Identity == null || !user.Identity.IsAuthenticated)
        {
           var returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
           
            Navigation.NavigateTo($"MicrosoftIdentity/Account/SignIn?redirectUri=/" + returnUrl, new NavigationOptions
            {
                ForceLoad = true,
                ReplaceHistoryEntry = false ,
                HistoryEntryState = returnUrl
            });

        }

    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
